In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import time
import math
import datetime

In [24]:
sell_prices_df = pd.read_csv('raw_data/sell_prices.csv')
train_sales_df = pd.read_csv('raw_data/sales_train_validation.csv')
calendar_df = pd.read_csv('raw_data/calendar.csv')
submission_file = pd.read_csv('raw_data/sample_submission.csv')

In [7]:
sell_prices_df.shape

(6841121, 4)

# CLEANING NULL VALUES

## SELL_PRICES_DATA FRAME

In [79]:
#null-values of sell_prices_df

null_values = sell_prices_df.isnull()
print(null_values)
total_null_columns_values = sell_prices_df.isnull().sum()
print(total_null_columns_values)

         store_id  item_id  wm_yr_wk  sell_price
0           False    False     False       False
1           False    False     False       False
2           False    False     False       False
3           False    False     False       False
4           False    False     False       False
...           ...      ...       ...         ...
6841116     False    False     False       False
6841117     False    False     False       False
6841118     False    False     False       False
6841119     False    False     False       False
6841120     False    False     False       False

[6841121 rows x 4 columns]
store_id      0
item_id       0
wm_yr_wk      0
sell_price    0
dtype: int64

### DUPLICATE VALUES

In [64]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df
# Usa el método duplicated() para encontrar valores duplicados
duplicated_values = sell_prices_df.duplicated()

# Usa el método sum() para contar la cantidad de valores duplicados
quantity_duplicated_values = duplicated_values.sum()

print("Cantidad de valores duplicados:", quantity_duplicated_values)

Cantidad de valores duplicados: 0

In [33]:
df = sell_prices_df.astype(str)

# Utilizar apply junto con value_counts para obtener los valores únicos y su conteo por columna
conteo_valores_unicos_por_columna = df.apply(lambda x: x.value_counts())

# Imprimir el conteo de valores únicos por columna
print("Conteo de valores únicos por columna:")
print(conteo_valores_unicos_por_columna)

Conteo de valores únicos por columna:
      store_id  item_id  wm_yr_wk  sell_price
0.01       NaN      NaN       NaN        12.0
0.02       NaN      NaN       NaN         2.0
0.05       NaN      NaN       NaN        91.0
0.06       NaN      NaN       NaN         1.0
0.07       NaN      NaN       NaN        61.0
...        ...      ...       ...         ...
TX_2  701214.0      NaN       NaN         NaN
TX_3  691112.0      NaN       NaN         NaN
WI_1  665912.0      NaN       NaN         NaN
WI_2  678171.0      NaN       NaN         NaN
WI_3  696094.0      NaN       NaN         NaN

[4389 rows x 4 columns]

## train_sales DATA FRAME

In [69]:
train_sales_df.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'd_1904', 'd_1905', 'd_1906', 'd_1907', 'd_1908', 'd_1909', 'd_1910',
       'd_1911', 'd_1912', 'd_1913'],
      dtype='object', length=1919)

In [80]:
train_sales_df.head(10)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
5,HOBBIES_1_006_CA_1_validation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,0,1,0,0,0,2,0,0
6,HOBBIES_1_007_CA_1_validation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,1,0,1,0,0,1,1
7,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,12,15,0,0,...,0,0,1,37,3,4,6,3,2,1
8,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,2,0,7,3,...,0,0,1,1,6,0,0,0,0,0
9,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,0,0,1,0,...,1,0,0,0,0,0,0,2,0,2

In [16]:
import seaborn as sns
null_values = train_sales_df.isnull()
print(null_values)
total_nulos_por_columna = train_sales_df.isnull().sum()
print(total_nulos_por_columna)
# Calcula el porcentaje de valores nulos en cada columna
porcentaje_nulos_por_columna = (train_sales_df.isnull().sum() / len(train_sales_df)) * 100
print(porcentaje_nulos_por_columna)

          id  item_id  dept_id  cat_id  store_id  state_id    d_1    d_2  \
0      False    False    False   False     False     False  False  False
1      False    False    False   False     False     False  False  False
2      False    False    False   False     False     False  False  False
3      False    False    False   False     False     False  False  False
4      False    False    False   False     False     False  False  False
...      ...      ...      ...     ...       ...       ...    ...    ...
30485  False    False    False   False     False     False  False  False
30486  False    False    False   False     False     False  False  False
30487  False    False    False   False     False     False  False  False
30488  False    False    False   False     False     False  False  False
30489  False    False    False   False     False     False  False  False

         d_3    d_4  ...  d_1904  d_1905  d_1906  d_1907  d_1908  d_1909  \
0      False  False  ...   False   False   False   False   False   False
1      False  False  ...   False   False   False   False   False   False
2      False  False  ...   False   False   False   False   False   False
3      False  False  ...   False   False   False   False   False   False
4      False  False  ...   False   False   False   False   False   False
...      ...    ...  ...     ...     ...     ...     ...     ...     ...
30485  False  False  ...   False   False   False   False   False   False
30486  False  False  ...   False   False   False   False   False   False
30487  False  False  ...   False   False   False   False   False   False
30488  False  False  ...   False   False   False   False   False   False
30489  False  False  ...   False   False   False   False   False   False

       d_1910  d_1911  d_1912  d_1913
0       False   False   False   False
1       False   False   False   False
2       False   False   False   False
3       False   False   False   False
4       False   False   False   False
...       ...     ...     ...     ...
30485   False   False   False   False
30486   False   False   False   False
30487   False   False   False   False
30488   False   False   False   False
30489   False   False   False   False

[30490 rows x 1919 columns]
id          0
item_id     0
dept_id     0
cat_id      0
store_id    0
           ..
d_1909      0
d_1910      0
d_1911      0
d_1912      0
d_1913      0
Length: 1919, dtype: int64
id          0.0
item_id     0.0
dept_id     0.0
cat_id      0.0
store_id    0.0
           ...
d_1909      0.0
d_1910      0.0
d_1911      0.0
d_1912      0.0
d_1913      0.0
Length: 1919, dtype: float64

In [21]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df
# Usa el método duplicated() para encontrar valores duplicados
valores_duplicados = train_sales_df.duplicated()

# Usa el método sum() para contar la cantidad de valores duplicados
cantidad_valores_duplicados = valores_duplicados.sum()

print("Cantidad de valores duplicados:", cantidad_valores_duplicados)

Cantidad de valores duplicados: 0

## calendar_df DATA FRAME

In [51]:
calendar_df.tail(5)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [70]:
import pandas as pd

star_date = '2011-01-29'
end_date = '2016-06-19'

# Generate the dates
expected_dates = pd.date_range(start=star_date, end=end_date)

# format
calendar_df['date'] = pd.to_datetime(calendar_df['date'])

# extract unique dates
current_dates = calendar_df['date'].dt.date.unique()

expected_dates_set = set(expected_dates)
current_dates_set = set(current_dates)

# verify
missing_dates = expected_dates_set - current_dates_set

if not missing_dates:
    print("No missing dates .")
else:
    print("there is no these dates")
    print(fechas_faltantes)

there is no these dates

In [71]:

null_values = calendar_df.isnull()
print(null_values)
total_null_values_per_column = calendar_df.isnull().sum()
print(total_null_values_per_column)

       date  wm_yr_wk  weekday   wday  month   year      d  event_name_1  \
0     False     False    False  False  False  False  False          True
1     False     False    False  False  False  False  False          True
2     False     False    False  False  False  False  False          True
3     False     False    False  False  False  False  False          True
4     False     False    False  False  False  False  False          True
...     ...       ...      ...    ...    ...    ...    ...           ...
1964  False     False    False  False  False  False  False          True
1965  False     False    False  False  False  False  False          True
1966  False     False    False  False  False  False  False          True
1967  False     False    False  False  False  False  False          True
1968  False     False    False  False  False  False  False         False

      event_type_1  event_name_2  event_type_2  snap_CA  snap_TX  snap_WI
0             True          True          True    False    False    False
1             True          True          True    False    False    False
2             True          True          True    False    False    False
3             True          True          True    False    False    False
4             True          True          True    False    False    False
...            ...           ...           ...      ...      ...      ...
1964          True          True          True    False    False    False
1965          True          True          True    False    False    False
1966          True          True          True    False    False    False
1967          True          True          True    False    False    False
1968         False         False         False    False    False    False

[1969 rows x 14 columns]
date               0
wm_yr_wk           0
weekday            0
wday               0
month              0
year               0
d                  0
event_name_1    1807
event_type_1    1807
event_name_2    1964
event_type_2    1964
snap_CA            0
snap_TX            0
snap_WI            0
dtype: int64

In [72]:



duplicated_values = calendar_df.duplicated()

# Usa el método sum() para contar la cantidad de valores duplicados
quantity_duplicated_values = duplicated_values.sum()

print("Quantity:", quantity_duplicated_values)

Quantity: 0

# submission_file DATA FRAME

### MISSING VALUES

In [75]:
submission_file.(10)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60970,FOODS_3_818_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60971,FOODS_3_819_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60972,FOODS_3_820_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60973,FOODS_3_821_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60974,FOODS_3_822_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
#null-values of sell_prices_df
import seaborn as sns
null_values = submission_file.isnull()
print(null_values)
Total_null_values_per_column = submission_file.isnull().sum()
print(Total_null_values_per_column)
# Percentage Null values per column
porcentage_null_values_per_column = (submission_file.isnull().sum() / len(submission_file)) * 100
print(porcentage_null_values_per_column)

          id     F1     F2     F3     F4     F5     F6     F7     F8     F9  \
0      False  False  False  False  False  False  False  False  False  False
1      False  False  False  False  False  False  False  False  False  False
2      False  False  False  False  False  False  False  False  False  False
3      False  False  False  False  False  False  False  False  False  False
4      False  False  False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
60975  False  False  False  False  False  False  False  False  False  False
60976  False  False  False  False  False  False  False  False  False  False
60977  False  False  False  False  False  False  False  False  False  False
60978  False  False  False  False  False  False  False  False  False  False
60979  False  False  False  False  False  False  False  False  False  False

       ...    F19    F20    F21    F22    F23    F24    F25    F26    F27  \
0      ...  False  False  False  False  False  False  False  False  False
1      ...  False  False  False  False  False  False  False  False  False
2      ...  False  False  False  False  False  False  False  False  False
3      ...  False  False  False  False  False  False  False  False  False
4      ...  False  False  False  False  False  False  False  False  False
...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
60975  ...  False  False  False  False  False  False  False  False  False
60976  ...  False  False  False  False  False  False  False  False  False
60977  ...  False  False  False  False  False  False  False  False  False
60978  ...  False  False  False  False  False  False  False  False  False
60979  ...  False  False  False  False  False  False  False  False  False

         F28
0      False
1      False
2      False
3      False
4      False
...      ...
60975  False
60976  False
60977  False
60978  False
60979  False

[60980 rows x 29 columns]
id     0
F1     0
F2     0
F3     0
F4     0
F5     0
F6     0
F7     0
F8     0
F9     0
F10    0
F11    0
F12    0
F13    0
F14    0
F15    0
F16    0
F17    0
F18    0
F19    0
F20    0
F21    0
F22    0
F23    0
F24    0
F25    0
F26    0
F27    0
F28    0
dtype: int64
id     0.0
F1     0.0
F2     0.0
F3     0.0
F4     0.0
F5     0.0
F6     0.0
F7     0.0
F8     0.0
F9     0.0
F10    0.0
F11    0.0
F12    0.0
F13    0.0
F14    0.0
F15    0.0
F16    0.0
F17    0.0
F18    0.0
F19    0.0
F20    0.0
F21    0.0
F22    0.0
F23    0.0
F24    0.0
F25    0.0
F26    0.0
F27    0.0
F28    0.0
dtype: float64

## Duplicates

In [74]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df
# Usa el método duplicated() para encontrar valores duplicados
duplicates_values = submission_file.duplicated()

# Usa el método sum() para contar la cantidad de valores duplicados
quantity_duplicates = duplicates_values.sum()

print("Quantity:", quantity_duplicates)

Quantity: 0

In [56]:
import pandas as pd

for i, df in enumerate(submission_file):
    unique_values = submission_file.apply(pd.unique)
    print(f"unique values de DataFrame {i+1}:")
    print(unique_values)

unique values de DataFrame 1:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 2:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 3:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 4:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 5:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 6:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 7:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 8:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 9:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 10:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 11:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]
F22                                                  [0]
F23                                                  [0]
F24                                                  [0]
F25                                                  [0]
F26                                                  [0]
F27                                                  [0]
F28                                                  [0]
dtype: object
unique values de DataFrame 12:
id     [HOBBIES_1_001_CA_1_validation, HOBBIES_1_002_...
F1                                                   [0]
F2                                                   [0]
F3                                                   [0]
F4                                                   [0]
F5                                                   [0]
F6                                                   [0]
F7                                                   [0]
F8                                                   [0]
F9                                                   [0]
F10                                                  [0]
F11                                                  [0]
F12                                                  [0]
F13                                                  [0]
F14                                                  [0]
F15                                                  [0]
F16                                                  [0]
F17                                                  [0]
F18                                                  [0]
F19                                                  [0]
F20                                                  [0]
F21                                                  [0]