In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

/tmp/ipykernel_139920/85191857.py:1: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

In [9]:
df["date"] = pd.to_datetime(df["date"])

In [10]:
df.set_index("date",inplace=True)

In [11]:
df[df["id"]=="FOODS_3_180_CA_1_validation"]

,id,item_id,dept_id,cat_id,store_id,state_id,sales,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
date,,,,,,,,,,,,,,,,,
2011-01-29,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Saturday,1,0,0,0,0,0,0,0,0.00
2011-01-30,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,0,0,0,0.00
2011-01-31,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Monday,3,0,0,0,0,0,0,0,0.00
2011-02-01,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Tuesday,4,0,0,0,0,1,1,0,0.00
2011-02-02,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,1,0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-20,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-04-21,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-22,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Friday,7,0,0,0,0,0,0,0,2.98
2016-04-23,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,1,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-24,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,0,0,0,2.98

In [12]:
def rmsse(train, test, forecast):
    forecast_mse = np.mean((test - forecast)**2, axis=1)
    train_mse = [np.mean((np.diff(np.trim_zeros(row))**2)) for row in train]
    return np.sqrt(forecast_mse / train_mse)

In [13]:
oneproduct = df[df["id"]=="FOODS_3_180_CA_1_validation"]

In [14]:
oneproduct

,id,item_id,dept_id,cat_id,store_id,state_id,sales,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
date,,,,,,,,,,,,,,,,,
2011-01-29,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Saturday,1,0,0,0,0,0,0,0,0.00
2011-01-30,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,0,0,0,0.00
2011-01-31,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Monday,3,0,0,0,0,0,0,0,0.00
2011-02-01,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Tuesday,4,0,0,0,0,1,1,0,0.00
2011-02-02,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,1,0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-20,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-04-21,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-22,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Friday,7,0,0,0,0,0,0,0,2.98
2016-04-23,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,1,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-24,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,0,0,0,2.98

In [15]:
# Calculate the split index
index = len(oneproduct) - 28  # The last index minus 28 days
# Split the data
df_train_oneproduct = oneproduct.iloc[:index]
df_test_oneproduct = oneproduct.iloc[index:]
# Check the length of training and test sets
print("Number of days in df_train:", len(df_train_oneproduct))
print("Number of days in df_test:", len(df_test_oneproduct))

Number of days in df_train: 1885
Number of days in df_test: 28

In [16]:
df_test_oneproduct

,id,item_id,dept_id,cat_id,store_id,state_id,sales,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
date,,,,,,,,,,,,,,,,,
2016-03-28,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,2,Monday,3,0,0,0,0,0,0,0,2.98
2016-03-29,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Tuesday,4,0,0,0,0,0,0,0,2.98
2016-03-30,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-03-31,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-01,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Friday,7,0,0,0,0,1,1,0,2.98
2016-04-02,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Saturday,1,0,0,0,0,1,0,1,2.98
2016-04-03,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,1,1,1,2.98
2016-04-04,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Monday,3,0,0,0,0,1,0,0,2.98
2016-04-05,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Tuesday,4,0,0,0,0,1,1,1,2.98
2016-04-06,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,1,1,1,2.98
2016-04-07,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Thursday,6,0,0,0,0,1,1,0,2.98
2016-04-08,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Friday,7,0,0,0,0,1,0,1,2.98
2016-04-09,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Saturday,1,0,0,0,0,1,1,1,2.98
2016-04-10,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,1,Sunday,2,0,0,0,0,1,0,0,2.98
2016-04-11,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Monday,3,0,0,0,0,0,1,1,2.98
2016-04-12,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Tuesday,4,0,0,0,0,0,1,1,2.98
2016-04-13,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,0,1,0,2.98
2016-04-14,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,1,Thursday,6,0,0,0,0,0,0,1,2.98
2016-04-15,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Friday,7,0,0,0,0,0,1,1,2.98
2016-04-16,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-17,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,1,Sunday,2,0,0,0,0,0,0,0,2.98
2016-04-18,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,2,Monday,3,0,0,0,0,0,0,0,2.98
2016-04-19,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Tuesday,4,0,0,0,0,0,0,0,2.98
2016-04-20,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-04-21,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-22,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Friday,7,0,0,0,0,0,0,0,2.98
2016-04-23,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,1,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-24,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,0,0,0,2.98

In [17]:
last_value = df_train_oneproduct["sales"].iloc[-1]

In [18]:
y_train = df_test_oneproduct["sales"]

In [19]:
y_train

date
2016-03-28    2
2016-03-29    0
2016-03-30    0
2016-03-31    0
2016-04-01    0
2016-04-02    0
2016-04-03    0
2016-04-04    0
2016-04-05    0
2016-04-06    0
2016-04-07    0
2016-04-08    0
2016-04-09    0
2016-04-10    1
2016-04-11    0
2016-04-12    0
2016-04-13    0
2016-04-14    1
2016-04-15    0
2016-04-16    0
2016-04-17    1
2016-04-18    2
2016-04-19    0
2016-04-20    0
2016-04-21    0
2016-04-22    0
2016-04-23    1
2016-04-24    0
Name: sales, dtype: int64

In [25]:
# Create a date range for the next 28 days
next_28_days = pd.date_range(start=df_train_oneproduct.index[-1] + pd.Timedelta(days=1), periods=28, freq='D')

# Create a new dataframe with the naive forecast
naive_forecast = pd.DataFrame(index=next_28_days, columns=['sales'])
naive_forecast['sales'] = last_value

print(naive_forecast.index)

DatetimeIndex(['2016-03-28', '2016-03-29', '2016-03-30', '2016-03-31',
               '2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
               '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08',
               '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12',
               '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16',
               '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
               '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24'],
              dtype='datetime64[ns]', freq='D')

In [21]:
from sklearn.metrics import mean_squared_error

rmse = mean_squared_error(y_train, naive_forecast, squared=False)

/home/jonas/.pyenv/versions/3.10.6/envs/walmart/lib/python3.10/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [22]:
rmse

0.6546536707079771