In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

/tmp/ipykernel_88533/85191857.py:1: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

In [9]:
df["date"] = pd.to_datetime(df["date"])

In [10]:
df.set_index("date",inplace=True)

In [11]:
df[df["id"]=="FOODS_3_180_CA_1_validation"]

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
date,,,,,,,,,,,,,,,,,,,
2011-01-29,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1,0,11101,Saturday,1,0,0,0,0,0,0,0,0.00
2011-01-30,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_2,0,11101,Sunday,2,0,0,0,0,0,0,0,0.00
2011-01-31,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_3,0,11101,Monday,3,0,0,0,0,0,0,0,0.00
2011-02-01,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_4,0,11101,Tuesday,4,0,0,0,0,1,1,0,0.00
2011-02-02,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_5,0,11101,Wednesday,5,0,0,0,0,1,0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-20,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1909,0,11612,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-04-21,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1910,0,11612,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-22,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1911,0,11612,Friday,7,0,0,0,0,0,0,0,2.98
2016-04-23,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1912,1,11613,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-24,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.98

In [12]:
def rmsse(train, test, forecast):
    forecast_mse = np.mean((test - forecast)**2, axis=1)
    train_mse = [np.mean((np.diff(np.trim_zeros(row))**2)) for row in train]
    return np.sqrt(forecast_mse / train_mse)

In [13]:
oneproduct = df[df["id"]=="FOODS_3_180_CA_1_validation"]

In [14]:
oneproduct

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
date,,,,,,,,,,,,,,,,,,,
2011-01-29,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1,0,11101,Saturday,1,0,0,0,0,0,0,0,0.00
2011-01-30,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_2,0,11101,Sunday,2,0,0,0,0,0,0,0,0.00
2011-01-31,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_3,0,11101,Monday,3,0,0,0,0,0,0,0,0.00
2011-02-01,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_4,0,11101,Tuesday,4,0,0,0,0,1,1,0,0.00
2011-02-02,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_5,0,11101,Wednesday,5,0,0,0,0,1,0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-20,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1909,0,11612,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-04-21,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1910,0,11612,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-22,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1911,0,11612,Friday,7,0,0,0,0,0,0,0,2.98
2016-04-23,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1912,1,11613,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-24,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.98

In [15]:
# Calculate the split index
index = len(oneproduct) - 28  # The last index minus 28 days
# Split the data
df_train_oneproduct = oneproduct.iloc[:index]
df_test_oneproduct = oneproduct.iloc[index:]
# Check the length of training and test sets
print("Number of days in df_train:", len(df_train_oneproduct))
print("Number of days in df_test:", len(df_test_oneproduct))

Number of days in df_train: 1885
Number of days in df_test: 28

In [16]:
df_test_oneproduct

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
date,,,,,,,,,,,,,,,,,,,
2016-03-28,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1886,2,11609,Monday,3,0,0,0,0,0,0,0,2.98
2016-03-29,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1887,0,11609,Tuesday,4,0,0,0,0,0,0,0,2.98
2016-03-30,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1888,0,11609,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-03-31,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1889,0,11609,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-01,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1890,0,11609,Friday,7,0,0,0,0,1,1,0,2.98
2016-04-02,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1891,0,11610,Saturday,1,0,0,0,0,1,0,1,2.98
2016-04-03,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1892,0,11610,Sunday,2,0,0,0,0,1,1,1,2.98
2016-04-04,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1893,0,11610,Monday,3,0,0,0,0,1,0,0,2.98
2016-04-05,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1894,0,11610,Tuesday,4,0,0,0,0,1,1,1,2.98
2016-04-06,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1895,0,11610,Wednesday,5,0,0,0,0,1,1,1,2.98
2016-04-07,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1896,0,11610,Thursday,6,0,0,0,0,1,1,0,2.98
2016-04-08,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1897,0,11610,Friday,7,0,0,0,0,1,0,1,2.98
2016-04-09,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1898,0,11611,Saturday,1,0,0,0,0,1,1,1,2.98
2016-04-10,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1899,1,11611,Sunday,2,0,0,0,0,1,0,0,2.98
2016-04-11,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1900,0,11611,Monday,3,0,0,0,0,0,1,1,2.98
2016-04-12,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1901,0,11611,Tuesday,4,0,0,0,0,0,1,1,2.98
2016-04-13,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1902,0,11611,Wednesday,5,0,0,0,0,0,1,0,2.98
2016-04-14,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1903,1,11611,Thursday,6,0,0,0,0,0,0,1,2.98
2016-04-15,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1904,0,11611,Friday,7,0,0,0,0,0,1,1,2.98
2016-04-16,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1905,0,11612,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-17,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1906,1,11612,Sunday,2,0,0,0,0,0,0,0,2.98
2016-04-18,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1907,2,11612,Monday,3,0,0,0,0,0,0,0,2.98
2016-04-19,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1908,0,11612,Tuesday,4,0,0,0,0,0,0,0,2.98
2016-04-20,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1909,0,11612,Wednesday,5,0,0,0,0,0,0,0,2.98
2016-04-21,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1910,0,11612,Thursday,6,0,0,0,0,0,0,0,2.98
2016-04-22,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1911,0,11612,Friday,7,0,0,0,0,0,0,0,2.98
2016-04-23,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1912,1,11613,Saturday,1,0,0,0,0,0,0,0,2.98
2016-04-24,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.98